#!/usr/bin/make -f

PRG=flexbar
VER=2.22.0
PKG=$(PRG)$(VER)
DEB_DIR=debian/$(PKG)
BUILD_TMP=$(CURDIR)/debian/tmp-build/$(PKG)
BIN_LIST=$(BUILD_TMP)/flexbar
PKG_LIB_DIR=/usr/lib/$(PKG)
BIN_WRAPPER=\
'\#!/bin/sh\n'\
'export PATH=$(PKG_LIB_DIR)/bin:$$PATH\n'\
"exec $${BASE_BIN}" '"$$@"'

%:
	dh $@

override_dh_auto_build:
	mkdir -p $(BUILD_TMP) && \
	cd $(BUILD_TMP) && \
	cmake $(CURDIR) && \
	make && \
	pwd && \
	find . -type f -exec ls -l {} \;

override_dh_installdirs:
	echo "Install dirs..."

override_dh_auto_install:
	mkdir -p $(DEB_DIR)/usr/bin $(DEB_DIR)$(PKG_LIB_DIR)/bin
	for BIN in $(BIN_LIST); do \
		BASE_BIN=$$(basename $${BIN});\
		echo $(BIN_WRAPPER) | sed 's/^ *//' > $(DEB_DIR)/usr/bin/$${BASE_BIN}$(VER);\
		install -m 755 $${BIN} $(DEB_DIR)$(PKG_LIB_DIR)/bin/$${BASE_BIN};\
	done

override_dh_strip:
	echo "Do not create a *dbgsym*.ddeb package."
